<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Lig" value="viviute"/>
    <add key="Ligger" value="define your own config"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ligTcpBinding" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="24.00:00:00" receiveTimeout="24.00:00:00">
          <reliableSession inactivityTimeout="00:01:00" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="metaDataBehavior" name="Lig.vivitue.Contract.Services.LigAgent">
        <endpoint address="net.tcp://127.0.0.1:6023/Lig.vivitue.Contract.Services.LigAgent"
                  binding="netTcpBinding" bindingConfiguration="ligTcpBinding"
                  contract="Lig.vivitue.Contract.Services.ILigAgent"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metaDataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:7023/Lig.vivitue.LigMetadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>