<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ligTcpBinding" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="24.00:00:00" receiveTimeout="24.00:00:00">
          <reliableSession inactivityTimeout="00:10:00" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="Lig.vivitue.Contract.Services.LigAgent" behaviorConfiguration=""
                address="net.tcp://127.0.0.1:6023/Lig.vivitue.Contract.Services.LigAgent"
                contract="Lig.vivitue.Contract.Services.ILigAgent"
                binding="netTcpBinding" bindingConfiguration="ligTcpBinding">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>